body {
	padding-top: 60px;
}

a {
	text-decoration: none;
}

.output, a {
	color: #073951;
	font-size: 0.85em;
	font-family: Arial;
}

.output .title {
 	font-weight: bold;
}

.output .spacer {
	height:10px;
}

.output .section {
	line-height: 1.4em;
}

.output em {
	color: #FF6600;
	font-style: normal;
	font-weight: normal;
}

.output em.spaced {
	margin-left: 0.9em;
}

.output .logo {
	font-weight: bold;
}